body{
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	min-height: 100%;
}

html{
	height: 100%;
}

.mainContent{
	padding: 10px;
}

@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');

@font-face {
	font-family: 'M30W';
	src: url('./fonts/C1.ttf') format('truetype');
}

table,thead,tr,tbody,th,td{
	text-align: center;
}
