body{
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000000;
	color: #ffffff;
	min-height: 100%;
}

html{
	height: 100%;
}

.mainContent{
	padding: 10px;
}

@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');

table,thead,tr,tbody,th,td{
	text-align: center;
}
